body {
    margin: 0;
    font-family: Arial;
}

/* NAVBAR */
.navbar {
    background: linear-gradient(90deg,#3a7bd5,#00d2ff);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    color: white;
}

/* HERO */
.hero {
    height: 80vh;
    background: linear-gradient(#00c6ff,#0072ff);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* COURSES */
.grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    padding: 20px;
}

.card {
    background: #eee;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
}

/* FORM */
.form-section {
    text-align: center;
    padding: 40px;
}

input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 250px;
}

button {
    padding: 10px 20px;
    background: blue;
    color: white;
    border: none;
}